:root {
  --backgroundColorBody: #eee;
  --backgroundColor: #c2ffda;
  --boxShadow: 8px 8px 15px 0 rgba(0, 0, 0, 0.4);
  --boxPadding: 0 5vw;
  --textColor: #111;
  --scroll-margin-top: 5rem;
  --botonColor: #86efac;
  --botonColor2: #5eead4;
  --brightness: brightness(1);
}

.dark-mode {
  --backgroundColorBody: #0c0a09;
  --backgroundColor: #052e16;
  --boxShadow: 8px 8px 15px 0 rgba(0, 0, 0, 0.4);
  --textColor: #ccc;
  --botonColor: #115e59;
  --botonColor2: #15803d;
  --brightness: brightness(0.8);
}

* {
  font-size: 16px;
  box-sizing: border-box;
}

html {
  height: 100vh;
  scroll-behavior: smooth;
}
body {
  min-height: 100%;
  background-color: var(--backgroundColorBody);
  color: var(--textColor);
}
a {
  color: var(--textColor);
  text-decoration: none;
}
a:hover {
  cursor: pointer;
}
a:visited {
  color: var(--textColor);
}
b {
  font-weight: bold;
}
h3 {
  font: bold 2rem Georgia;
}

.spinner-block {
  display: none;
  width: 50px;
  height: 50px;
  border: 5px solid rgba(0, 0, 0, 0.1);
  border-top: 5px solid #3498db; /* Color del borde superior */
  border-radius: 50%;
  animation: spin 1s infinite;
}
.spinner-inline-block {
  /* background-color: white; */
  display: none;
  width: 30px;
  height: 30px;
  border: 5px solid white;
  border-top: 5px solid #3498db; /* Color del borde superior */
  border-radius: 50%;
  animation: spin 1s infinite;
}

/* .container__boton--light-oscuro {

} */
.boton--light-oscuro {
  background-color: transparent;
  position: fixed;
  right: 1.5rem;
  top: 0.5rem;
  text-align: center;
  border-radius: 50%;
  width: 2.5rem;
  height: 2.5rem;
  border: none;
  cursor: pointer;
  vertical-align: middle;
  z-index: 1;
}
.boton--light-oscuro img {
  vertical-align: middle;
  background-color: white;
  border-radius: 50%;
  max-width: 100%;
  max-height: 100%;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
