@import "../styles.css";

#autobiografia {
  background-image: linear-gradient(
    to bottom,
    transparent 0%,
    var(--backgroundColor) 100%
  );
  padding: var(--boxPadding);
  padding-bottom: 5rem;
  scroll-margin-top: 5rem; /* Esto hace que al moverse a ésta sección con el clic que se hace en la barra de navegacion, la barra no tape el titulo y se mueva un poco mas arriba*/
}
.autobiografia__titulo {
  margin: 3rem 0 0;
  text-align: center;
}
.autobiografia__autor {
  text-align: center;
  margin-bottom: 3rem;
}
.autobiografia__imagen {
  opacity: 0.4;
  float: left;
  width: 350px;
  margin-right: 1rem;
}
.autobiografia__parrafos {
  font-family: Arial, Helvetica, sans-serif;
}
