#contacto {
  background-image: linear-gradient(
    to bottom,
    var(--backgroundColor) 0%,
    transparent 100%
  );
  padding: var(--boxPadding);
  padding-bottom: 5rem;
  scroll-margin-top: var(
    --scroll-margin-top
  ); /* Esto hace que al moverse a ésta sección con el clic que se hace en la barra de navegacion, la barra no tape el titulo y se mueva un poco mas arriba*/
}
.contacto__flex-container {
  display: flex;

  position: relative;
  margin-top: 2rem;
  border: 1px solid rgba(0, 0, 0, 0.3);
  overflow: hidden;
  border-radius: 20px;
}
.contacto__formulario {
  display: flex;
  flex-flow: column;

  width: 50%;
  line-height: 2rem;
  padding: 1rem;
}
.contacto__formulario label {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}
.contacto__contador {
  float: right;
  color: blue;
  font-weight: bold;
}
.contacto__formulario input {
  border: 1px solid rgba(0, 0, 0, 0.3);
  padding: 0.5rem;
  border-radius: 10px;
  background-color: var(--backgroundColorBody);
  color: var(--textColor);
}
.contacto__formulario textarea {
  resize: none;
  border: 1px solid rgba(0, 0, 0, 0.3);
  padding: 0.5rem 0.5rem 1.5rem;
  border-radius: 10px;
  background-color: var(--backgroundColorBody);
  color: var(--textColor);
}

.contacto__imagen {
  /* flex: 1 1 50%;
  background-image: url("../public/images/email-recibido.png");
  background-size: cover;
  background-position: 90% 0;
  filter: var(--brightness); */

  flex: 1 1 50%;
  background-image: url(../public/images/email-recibido.png);
  background-size: cover;
  background-position: 90% 0;
  filter: var(--brightness);
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: -1;
}
.contacto__boton--enviar {
  width: fit-content;
  background-color: white;
  padding: 0.5rem 2rem;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  box-shadow: 0 4px 0px 0 rgba(0, 0, 0, 0.4);
  transition: transform 0s, box-shadow 0s;
}
.contacto__boton--enviar:hover {
  background-color: var(--backgroundColor);
  cursor: pointer;
  color: var(--textColor);
}
.contacto__boton--enviar:active {
  transform: scale(80%, 80%);
  box-shadow: none;
}

.contacto__spinner {
  display: none;
}

/* @media screen and (min-width: 992px) and (max-width: 1023px) {
  .contacto__imagen {
    display: none;
  }
  .contacto__flex-container {
    background-image: url("../public/images/email-recibido.png");
    background-size: cover;
    background-position: 90% 45%;
    border-radius: 20px;
    filter: var(--brightness);
  }
  .contacto__formulario {
    width: 50%;
    border-radius: 20px;
    background-color: var(--backgroundColor);
  }
} */

@media screen and (min-width: 320px) and (max-width: 767px) {
  /* .contacto__imagen {
    display: none;
  }
  .contacto__flex-container {
    background-image: url("../public/images/email-recibido.png");
    background-size: cover;
    background-position: 90% 0;
    border-radius: 20px;
    filter: var(--brightness);
  } */
  .contacto__formulario {
    width: 100%;
    border-radius: 20px;
    background-color: rgba(0, 0, 0, 0.5);
  }
}

/* error manejado por validacion-formulario.js */

.contacto__mensaje-error {
  display: none;
  color: red;
}
