@import "../styles.css";

#navegacion {
  display: flex;
  flex-wrap: wrap;
  align-items: center;

  position: sticky;
  top: 0;
  z-index: 2;
  padding: 0 2rem;
  background-color: var(--backgroundColor);
  border-radius: 0 0 20px 20px;
  box-shadow: var(--boxShadow);
  transition: all 1s;
}

.logo {
  flex: 1 1 auto;

  display: flex;
  align-items: center;
  gap: 20px;
}

.logo__iniciales {
  display: inline-block;
  color: transparent;
  font: 3rem Playball, cursive;
  background: linear-gradient(to bottom, #00ffaa 0%, #000000 90%);
  -webkit-background-clip: text;
  background-clip: text;
}
.logo__nombre-completo {
  display: inline-block;
  font: 1.2rem Georgia, "Allura", cursive;
  font-style: italic;
}

menu-icon {
  display: none;
}

.menu {
  flex: 1 1 auto;

  display: flex;
  flex-wrap: wrap;
  align-items: center;
  align-content: center;
  justify-content: flex-end;
  gap: 15px;
}

.menu__item {
  font: 1rem Monserrat, Arial, Helvetica, sans-serif;
  font-variant: small-caps;
}
.menu__item__link {
  text-decoration: none;
  color: #333;
}
.menu__item__link:hover {
  text-decoration: overline solid #00412b;
  color: #00412b;
}

@media screen and (min-width: 768px) and (max-width: 991px) {
  :root {
    --scroll-margin-top: 8rem;
  }
  .navegacion {
    display: block;
  }
  .logo {
    justify-content: center;
  }
  .menu {
    justify-content: center;
  }
}

@media screen and (min-width: 480px) and (max-width: 767px) {
  :root {
    --scroll-margin-top: 10rem;
  }
  .menu {
    display: none;
    justify-content: space-evenly;
    line-height: 0;
  }
  .menu__item {
    margin: 0.5rem 0.5rem 0;
  }
  menu-icon {
    display: block;
    position: relative;
    bottom: 5px;
    font-size: 2rem;
  }
  menu-icon:hover {
    cursor: pointer;
  }
}

@media screen and (min-width: 320px) and (max-width: 479px) {
  :root {
    --scroll-margin-top: 10rem;
  }
  .logo__nombre-completo {
    display: none;
  }
  .logo__iniciales {
    font-size: 2rem;
  }
  .menu {
    display: none;
    justify-content: space-evenly;
    line-height: 0;
  }
  .menu__item {
    margin: 0.5rem 0.5rem 0;
  }
  menu-icon {
    display: block;
    position: relative;
    bottom: 5%;
    font-size: 1.5rem;
  }
  menu-icon:hover {
    cursor: pointer;
  }
}
