.navegacion {
  display: flex;
  flex-wrap: wrap;
  align-items: center;

  position: sticky;
  top: 0;
  z-index: 2;
  padding: 0 2rem;
  background-color: var(--backgroundColor);
  border-radius: 0 0 20px 20px;
  box-shadow: var(--boxShadow);
}

.logo {
  flex: 1 1 auto;

  display: flex;
  align-items: center;
  gap: 20px;
}

.logo__iniciales {
  display: inline-block;
  color: transparent;
  font: 3rem Playball, cursive;
  background: linear-gradient(to bottom, #00ffaa 0%, #000000 90%);
  -webkit-background-clip: text;
  background-clip: text;
}
.logo__nombre-completo {
  display: inline-block;
  font: 1.2rem Georgia, "Allura", cursive;
  font-style: italic;
}

.menu {
  flex: 1 1 auto;

  display: flex;
  flex-wrap: wrap;
  align-items: center;
  align-content: center;
  justify-content: flex-end;
  gap: 15px;
}

.menu__item {
  font: 1rem Monserrat, Arial, Helvetica, sans-serif;
  font-variant: small-caps;
}
.menu__item__link {
  text-decoration: none;
  color: #333;
}
.menu__item__link:hover {
  text-decoration: overline solid #00412b;
  color: #00412b;
}

@media screen and (max-width: 992px) {
  .menu {
    display: block;
    height: 1rem;
    overflow: hidden;
  }
}
