#sobre-mi {
  background-image: linear-gradient(
    to bottom,
    transparent 0%,
    var(--backgroundColor) 100%
  );
  padding: var(--boxPadding);
  padding-bottom: 5rem;
  scroll-snap-align: center;
  scroll-margin-top: var(
    --scroll-margin-top
  ); /* Esto hace que al moverse a ésta sección con el clic que se hace en la barra de navegacion, la barra no tape el titulo y se mueva un poco mas arriba*/
}

.sobre-mi__parrafos {
  margin: 2rem 5vw;
  font: 1rem Arial, Helvetica, "sans-serif";
  line-height: 1.5rem;
}
.sobre-mi__parrafos > p {
  text-indent: 2rem;
}

@media screen and (min-width: 320px) and (max-width: 767px) {
  .sobre-mi__parrafos {
    margin-left: 0;
    margin-right: 0;
  }
}
